# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\phoenix\phoenix-docker-compose\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
